.header7-row1 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.header7-row2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.header7-section3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header7-section4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
