table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.p6section3 {
  width: 100%;
  border: 1px solid black;
  padding-bottom: 10px;
}
.p6row1 {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.forme-juridique {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.voie {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.p6row2 {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.siren {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.detention {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}
.boxes {
  display: flex;
  flex-direction: row;
}

.p6row3 {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.Adresse {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.p6row4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 5px;
}
.codepostal {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.commune {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pays {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
