.actif {
  position: relative;
}
.actifImmobalize {
  position: absolute;
  white-space: nowrap;
  transform: rotate(-90deg);
  top: 120px;
  left: -20px;
  letter-spacing: -1px;
}
.stocks {
  position: relative;
}
.stocksabs {
  position: absolute;
  white-space: nowrap;
  transform: rotate(-90deg);
  top: 15px;
  letter-spacing: -1px;
}

.actifcirculant {
  position: relative;
}
.actifcirculantabs {
  position: absolute;
  white-space: nowrap;
  transform: rotate(-90deg);
  top: 70px;
  left: -25px;
}

.capitaux {
  position: relative;
}
.capitauxabs {
  position: absolute;
  white-space: nowrap;
  transform: rotate(-90deg);
  top: 70px;
  left: -25px;
}
.dettes {
  position: relative;
}
.dettesabs {
  position: absolute;
  white-space: nowrap;
  transform: rotate(-90deg);
  top: 40px;
}
.renvois {
  position: relative;
}
.renvoisabs {
  position: absolute;
  white-space: nowrap;
  transform: rotate(-90deg);
  top: 40px;
}
