.border {
  border: 1px solid black;
}
.borderL {
  border-left: 1px solid black;
}
.borderR {
  border-right: 1px solid black;
}
.borderB {
  border-bottom: 1px solid black;
}
.borderT {
  border-top: 1px solid black;
}
.p4header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.p4r1 {
  width: 1200px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
.p4r1 > .formulaire {
  width: 400px;
  border-right: 1px solid black;
}
.p4r1 > .designation {
  width: 650px;
  border-right: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.p4r1 > .designation > div {
  width: 300px;
  height: 20px;
  border-bottom: 2px solid black;
}
.p4r1 > .neant {
  width: 151px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.p4r2 {
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
.p4r2 > div:first-child {
  width: 50px;
  border-left: 1px solid black;
}
.p4r2 > div:last-child {
  width: 1150px;
  border-right: 1px solid black;
}
.p4table1 {
  border: 1px solid black;
}
.p4table1r1 {
  display: flex;
  flex-direction: row;
}
.p4table1r1 > .nature {
  width: 400px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.p4table1r2 {
  display: flex;
  flex-direction: row;
}
.p4table1r3 {
  display: flex;
  flex-direction: row;
}
.p4table1r3 > .nature {
  width: 400px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  align-items: center;
}
.p4table2 {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
