.p5section1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding-top: 10px;
}
small {
  padding-left: 2px;
}

.total {
  font-weight: bold;
  padding-right: 50px;
}

.p5header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 40px;
}
