.section1 {
  width: 100%;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.section1-row1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 300px;
  padding-bottom: 10px;
}
.exercice {
  display: flex;
  flex-direction: row;
}
.section1-row2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 300px;
  padding-bottom: 10px;
}
.section1-row3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 300px;
  padding-bottom: 10px;
}
.section1-row4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 300px;
}
.section-small {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 5px;
}
.section2 {
  width: 100%;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.row1 {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.forme-juridique {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.voie {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.row2 {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.siren {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.detention {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}
.boxes {
  display: flex;
  flex-direction: row;
}

.row3 {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.Adresse {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.row4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 5px;
}
.codepostal {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.commune {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pays {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
