.header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 40px;
  align-items: center;
}

.header > small,
.header > span {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header > p {
  border: 1px solid #101010;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

.header > small {
  padding-right: 40px;
  gap: 5px;
}

.header > span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.wrapper {
  border: 1px solid #101010;
  margin-top: 30px;
}

.rowOne {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  border-bottom: 1px solid #101010;
}

.rowOne > div:first-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 3px;
}

.rowOne > div:first-child > small {
  width: 50ch;
  font-style: italic;
}

.rowOne > div:first-child > p {
  padding-right: 40px;
  text-align: right;
  font-size: 14px;
}

.rowOne > div:last-child {
  display: flex;
  flex-direction: column;
}

.rowOne > div:last-child > div:first-child {
  border-bottom: 1px solid #101010;
  display: grid;
  grid-template-columns: 1fr 100px;
}

.rowOne > div:last-child > div:first-child > span:first-child {
  display: flex;
  border-right: 1px solid #101010;
  padding: 10px;
}

.rowOne > div:last-child > div:first-child > span:last-child {
  padding: 0 3px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowOne > div:last-child > div:last-child {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}

.rowOne > div:last-child > div:last-child > span:first-child {
  border-right: 1px solid #101010;
}

.rowTwo {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.rowTwo > div:first-child {
  display: flex;
  flex-direction: column;
}

.rowTwo > div:first-child > div:first-child {
  display: grid;
  grid-template-columns: 30px 1fr;
  border-bottom: 1px solid #101010;
}

.rowTwo > div:first-child > div:first-child > span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.rowTwo > div:first-child > div:first-child > span:last-child {
  border-right: 1px solid #101010;
  border-left: 1px solid #101010;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowTwo > div:first-child > div:last-child {
  border-right: 1px solid #101010;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowTwo > div:last-child {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.rowTwo > div:last-child > div:not(:last-child) {
  border-right: 1px solid #101010;
  display: flex;
  align-items: center;
  padding: 10px 3px;
}

.rowTwo > div:last-child > div {
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
}

.rowTwo > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
}

.rowTwo > div:last-child > div:last-child > span:first-child {
  border-bottom: 1px solid #101010;
  padding: 5px 0;
}

.rowThree {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.rowThree > div:first-child {
  border-top: 1px solid #101010;
  border-right: 1px solid #101010;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 14px;
}

.rowThree > div:first-child > div:first-child {
  border-right: 1px solid #101010;
  display: flex;
  align-items: center;
  padding: 3px;
}

.rowThree > div:first-child > div:last-child {
  display: flex;
  flex-direction: column;
}

.rowThree > div:first-child > div:last-child > span {
  display: flex;
  width: 100%;
  align-items: center;
  flex: 1;
  padding: 3px;
}

.rowThree > div:first-child > div:last-child > span:first-child {
  border-bottom: 1px solid #101010;
}

.rowThree > div:last-child {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.rowThree > div:last-child > div:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowThree > div:last-child > div {
  border-top: 1px solid #101010;
  display: flex;
  flex-direction: column;
}

.rowThree > div:last-child > div > div:first-child {
  border-bottom: 1px solid #101010;
  display: flex;
}

.rowThree > div:last-child > div > div {
  flex: 1;
  display: flex;
}

.rowThree > div:last-child > div > div > span:first-child {
  width: 30px;
  display: flex;
  align-items: center;
  padding: 3px;
  border-right: 1px solid #101010;
}

.rowThree > div:last-child > div > div > span {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.rowFour {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.rowFour > div:first-child {
  border-right: 1px solid #101010;
  border-top: 1px solid #101010;
  display: grid;
  grid-template-columns: 40px 1fr;
}

.rowFour > div:first-child > div:first-child {
  position: relative;
  isolation: isolate;
  border-right: 1px solid #101010;
}

.rowFour > div:first-child > div:first-child > span {
  position: absolute;
  white-space: nowrap;
  transform: rotate(-90deg);
  top: 95px;
  left: -67px;
  letter-spacing: -1px;
}

.rowFour > div:first-child > div:last-child {
  display: flex;
  flex-direction: column;
}

.rowFour > div:first-child > div:last-child > span {
  display: flex;
  width: 100%;
  flex: 1;
  padding: 3px;
  align-items: center;
  font-size: 14px;
}

.rowFour > div:first-child > div:last-child > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowFour > div:last-child {
  width: 100%;
}

.rowFour > div:last-child > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.rowFour > div:last-child > div > div {
  font-size: 14px;
  border-top: 1px solid #101010;
  display: flex;
  align-items: center;
}

.rowFour > div:last-child > div > div:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowFour > div:last-child > div > div > span:last-child {
  display: flex;
  align-items: center;
  border-left: 1px solid #101010;
  flex: 1;
  height: 100%;
}

.rowFour > div:last-child > div > div > span {
  display: flex;
  padding: 5px 3px;
}

.rowFive {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.rowFive > div:first-child {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #101010;
  border-top: 1px solid #101010;
}

.rowFive > div:first-child > span {
  display: flex;
  flex: 1;
  padding: 3px;
  align-items: center;
}

.rowFive > div:first-child > span:first-child {
  border-bottom: 1px solid #101010;
  padding-left: 30px;
  font-size: 14px;
}

.rowFive > div:first-child > span:last-child {
  justify-content: flex-end;
}

.rowFive > div:last-child {
  width: 100%;
  border-top: 1px solid #101010;
  display: flex;
  flex-direction: column;
}

.rowFive > div:last-child > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex: 1;
}

.rowFive > div:last-child > div:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowFive > div:last-child > div > div {
  display: flex;
  font-size: 14px;
}

.rowFive > div:last-child > div > div > span {
  padding: 3px;
}

.rowFive > div:last-child > div > div > span:last-child {
  display: flex;
  flex: 1;
  border-left: 1px solid #101010;
  border-right: 1px solid #101010;
}

.rowSix {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid #101010;
}

.rowSix > div:first-child {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #101010;
}

.rowSix > div:first-child > div:first-child {
  border-bottom: 1px solid #101010;
  display: grid;
  grid-template-columns: 30px 1fr;
}

.rowSix > div:first-child > div:first-child > span:first-child {
  border-right: 1px solid #101010;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowSix > div:first-child > div:first-child > span:last-child {
  padding: 3px;
  padding-left: 80px;
}

.rowSix > div:first-child > div:last-child {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 20px;
}

.rowSix > div:last-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.rowSix > div:last-child > span {
  padding: 3px;
  display: flex;
  align-items: center;
  font-size: 14px;
  text-align: justify;
}

.rowSix > div:last-child > span:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowSeven {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid #101010;
}

.rowSeven > div:first-child {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #101010;
  font-size: 14px;
}

.rowSeven > div:first-child > * {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 3px;
}

.rowSeven > div:last-child {
  display: flex;
  flex-direction: column;
}

.rowSeven > div:last-child > * {
  flex: 1;
}

.rowSeven > div:last-child > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.rowSeven > div:last-child > div:first-child {
  border-bottom: 1px solid #101010;
}

.rowSeven > div:last-child > div > div {
  display: flex;
}

.rowSeven > div:last-child > div > div:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowSeven > div:last-child > div > div > span {
  padding: 3px;
  font-size: 14px;
}

.rowSeven > div:last-child > div > div > span:last-child {
  flex: 1;
  border-left: 1px solid #101010;
}

.rowEight {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid #101010;
}

.rowEight > div:first-child {
  border-right: 1px solid #101010;
}

.rowEight > div:first-child {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.rowEight > div:first-child > div:first-child {
  border-right: 1px solid #101010;
  position: relative;
  isolation: isolate;
}

.rowEight > div:first-child > div:first-child > span {
  position: absolute;
  top: 78px;
  left: -67px;
  transform: rotate(-90deg);
  white-space: nowrap;
  letter-spacing: -1px;
}

.rowEight > div:first-child > div:last-child {
  display: flex;
  flex-direction: column;
}

.rowEight > div:first-child > div:last-child > span {
  display: flex;
  align-items: center;
  padding: 3px;
  font-size: 14px;
  flex: 1;
}

.rowEight > div:first-child > div:last-child > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowEight > div:last-child {
  display: flex;
  flex-direction: column;
}

.rowEight > div:last-child > div {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.rowEight > div:last-child > div:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowEight > div:last-child > div > div {
  display: flex;
  font-size: 14px;
  align-items: center;
}

.rowEight > div:last-child > div > div:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowEight > div:last-child > div > div > span {
  padding: 3px;
}

.rowEight > div:last-child > div > div > span:last-child {
  border-left: 1px solid #101010;
  height: 100%;
  flex: 1;
}

.rowNine {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid #101010;
}

.rowNine > div:first-child {
  border-right: 1px solid #101010;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

.rowNine > div:last-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.rowNine > div:last-child > div {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.rowNine > div:last-child > div:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowNine > div:last-child > div > span {
  padding: 3px;
}

.rowNine > div:last-child > div > span:last-child {
  border-left: 1px solid #101010;
  flex: 1;
  height: 100%;
}

.rowTen {
  display: grid;
  grid-template-columns: 40px 1fr;
  border-top: 1px solid #101010;
}

.rowTen > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #101010;
}

.rowTen > div:last-child {
  padding: 3px;
}

.rowEleven {
  display: grid;
  grid-template-columns: 233px 2.5fr;
  border-top: 1px solid #101010;
}

.rowEleven > div:first-child {
  border-right: 1px solid #101010;
  padding: 3px;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.rowEleven > div:last-child {
  display: flex;
  flex-direction: column;
}

.rowEleven > div:last-child > div {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.rowEleven > div:last-child > div:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowEleven > div:last-child > div > div {
  font-size: 14px;
  display: flex;
}

.rowEleven > div:last-child > div > div:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowEleven > div:last-child > div > div > span {
  padding: 3px;
}

.rowEleven > div:last-child > div > div > span:first-child {
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #101010;
  border-bottom: 1px solid #101010;
}

.rowEleven > div:last-child > div > div > span:last-child {
  flex: 1;
  height: 70px;
}

.rowTwelve {
  display: grid;
  grid-template-columns: 40px 1fr 1fr;
  border-top: 1px solid #101010;
}

.rowTwelve > div:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowTwelve > div:first-child {
  position: relative;
  isolation: isolate;
}

.rowTwelve > div:first-child > span {
  position: absolute;
  top: 46px;
  left: -30px;
  transform: rotate(-90deg);
  letter-spacing: -1px;
}

.rowTwelve > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.rowTwelve > div:nth-child(2) > div {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.rowTwelve > div:nth-child(2) > div:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowTwelve > div:nth-child(2) > div > span {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 55px;
}

.rowTwelve > div:nth-child(2) > div > span:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowTwelve > div:nth-child(2) > div:last-child > span > i {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #101010;
  font-style: normal;
}

.rowTwelve > div:last-child {
  display: flex;
  flex-direction: column;
}

.rowTwelve > div:last-child > div {
  flex: 1;
  height: 50%;
}

.rowTwelve > div:last-child > div:not(:last-child) {
  border-bottom: 1px solid #101010;
  display: flex;
  flex-direction: column;
}

.rowTwelve > div:last-child > div:not(:last-child) > div {
  flex: 1;
}

.rowTwelve > div:last-child > div:not(:last-child) > div:first-child {
  padding: 3px;
  border-bottom: 1px solid #101010;
  text-align: center;
  font-size: 14px;
}

.rowTwelve > div:last-child > div:not(:last-child) > div:last-child {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.rowTwelve > div:last-child > div:not(:last-child) > div:last-child > span {
  padding: 3px;
  font-size: 14px;
  text-align: center;
}

.rowTwelve > div:last-child > div:not(:last-child) > div:last-child > span:first-child {
  border-right: 1px solid #101010;
}

.rowTwelve > div:last-child > div:last-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.rowTwelve > div:last-child > div:last-child > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 10px;
}

.rowTwelve > div:last-child > div:last-child > span:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowTwelve > div:last-child > div:last-child > span > i {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #101010;
  font-style: normal;
}

.rowThirteen {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #101010;
}

.rowThirteen > div:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowThirteen > div {
  display: grid;
  grid-template-columns: 40px 1fr;
  font-size: 14px;
}

.rowThirteen > div > div:first-child {
  border-right: 1px solid #101010;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowThirteen > div > div:last-child {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.rowThirteen > div > div:last-child > span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.rowThirteen > div > div:last-child > span:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowFourteen {
  display: grid;
  grid-template-columns: 40px 1fr;
  border-top: 1px solid #101010;
}

.rowFourteen > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-right: 1px solid #101010;
}

.rowFourteen > div:last-child {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.rowFourteen > div:last-child > div:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowFourteen > div:last-child > div {
  display: flex;
  font-size: 14px;
}

.rowFourteen > div:last-child > div > span:first-child {
  border-right: 1px solid #101010;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.rowFifteen {
  display: grid;
  grid-template-columns: 619px 1fr;
  border-top: 1px solid #101010;
}

.rowFifteen > div:first-child {
  border-right: 1px solid #101010;
  display: grid;
  grid-template-columns: 1fr 144.75px 143.75px;
  font-size: 14px;
}

.rowFifteen > div:first-child > div:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowFifteen > div:first-child > div:not(:nth-child(2)) {
  padding: 3px;
  display: flex;
  align-items: center;
}

.rowFifteen > div:first-child > div:nth-child(2) {
  display: flex;
  font-size: 14px;
}

.rowFifteen > div:first-child > div:nth-child(2) > span:first-child {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #101010;
}

.rowFifteen > div:last-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.rowFifteen > div:last-child > div:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowFifteen > div:last-child > div {
  display: flex;
}

.rowFifteen > div:last-child > div > span:first-child {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-right: 1px solid #101010;
}

.rowSixteen {
  display: grid;
  grid-template-columns: 619px 1fr;
  border-top: 1px solid #101010;
}

.rowSixteen > div:first-child {
  text-align: center;
  border-right: 1px solid #101010;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowSixteen > div:last-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.rowSixteen > div:last-child > div:not(:last-child) {
  border-right: 1px solid #101010;
}

.rowSixteen > div:last-child > div {
  display: flex;
  font-size: 14px;
}

.rowSixteen > div:last-child > div > span:first-child {
  border-right: 1px solid #101010;
  padding: 3px;
  justify-content: center;
  align-items: center;
}