* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  margin-bottom: 0;
}
small {
  font-size: 12px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.square-box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  border: 1px solid #101010;
  margin: 0 5px;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-end {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}

.text-justify {
  text-align: justify;
}

.p-3px {
  padding: 3px;
}

.text-sm {
  font-size: 14px;
}

.reintegrations {
  position: relative;
}
.reintegrationsabs {
  position: absolute;
  white-space: nowrap;
  transform: rotate(-90deg);
  top: 70px;
  left: -25px;
}

.deductions {
  position: relative;
}
.deductionsabs {
  position: absolute;
  white-space: nowrap;
  transform: rotate(-90deg);
  top: 140px;
  left: -25px;
}
.divers {
  position: relative;
}
.diversabs {
  position: absolute;
  white-space: nowrap;
  transform: rotate(-90deg);
  top: 70px;
  left: -18px;
}
.deficit {
  position: relative;
}
.deficitabs {
  position: absolute;
  white-space: nowrap;
  transform: rotate(-90deg);
  top: 17px;
  left: -5px;
}
