.header {
  display: grid;
  grid-template-columns: 1.2fr 4fr 1.2fr;
  gap: 40px;
  align-items: center;
}

.header > small,
.header > span {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header > p {
  border: 1px solid #101010;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

.header > small {
  padding-right: 40px;
  gap: 5px;
}

.header > span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.wrapper {
  border: 1px solid #101010;
  margin-top: 30px;
}

.rowOne {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  border-bottom: 1px solid #101010;
}

.rowOne > div:first-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 3px;
}

.rowOne > div:first-child > small {
  width: 50ch;
  font-style: italic;
}

.rowOne > div:first-child > p {
  padding-right: 40px;
  text-align: right;
  font-size: 14px;
}

.rowOne > div:last-child {
  display: flex;
  flex-direction: column;
}

.rowOne > div:last-child > div:first-child {
  border-bottom: 1px solid #101010;
  display: grid;
  grid-template-columns: 1fr 100px;
}

.rowOne > div:last-child > div:first-child > span:first-child {
  display: flex;
  border-right: 1px solid #101010;
  padding: 10px;
}

.rowOne > div:last-child > div:first-child > span:last-child {
  padding: 0 3px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowOne > div:last-child > div:last-child {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}

.rowOne > div:last-child > div:last-child > span:first-child {
  border-right: 1px solid #101010;
}

.fixedCornerWidth {
  width: 172px;
}

.rowTwo {
  display: grid;
  grid-template-columns: 2.5fr 1fr 30px 100px 173px;
  border-bottom: 1px solid #101010;
}

.rowTwo > span:first-child,
.rowTwo > span:nth-child(2) {
  border-right: 1px solid #101010;
  display: flex;
  align-items: center;
  padding: 3px;
}

.rowTwo > span:nth-child(2),
.rowTwo > span:nth-child(3) {
  font-size: 14px;
}

.rowTwo > span:nth-child(3) {
  border-right: 1px solid #101010;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowTwo > span:last-child {
  border-left: 1px solid #101010;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  gap: 10px;
}

.boldSquares {
  width: auto;
  display: flex;
}

.boldSquares > i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border: 2px solid #101010;
}

.rowThree {
  display: grid;
  grid-template-columns: 40px 1fr 30px 173px;
  border-bottom: 1px solid #101010;
}

.rowThree > div:first-child {
  position: relative;
  width: 40px;
  height: 318px;
  border-right: 1px solid #101010;
}

.rowThree > div:first-child > span {
  position: absolute;
  transform: rotate(-90deg);
  white-space: nowrap;
  top: 134px;
  left: -78px;
}

.rowThree > div:last-child {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #101010;
}

.rowThree > div:last-child > span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowThree > div:last-child > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowThree > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #101010;
}

.rowThree > div:nth-child(3) > span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 3px;
}

.rowThree > div:nth-child(3) > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowThree > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.rowThree > div:nth-child(2) > div:first-child {
  display: grid;
  grid-template-columns: 2fr 1fr 20px 30px 172px;
  border-bottom: 1px solid #101010;
}

.rowThree > div:nth-child(2) > div:first-child > div:first-child {
  display: flex;
  flex-direction: column;
}

.rowThree
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > span:first-child {
  padding: 3px;
  font-size: 14px;
  border-bottom: 1px solid #101010;
  border-right: 1px solid #101010;
}

.rowThree
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:nth-child(2) {
  border-right: 1px solid #101010;
  display: grid;
  grid-template-columns: 1fr 172px;
  flex: 1;
}

.rowThree
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 3px;
}

.rowThree
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > span:last-child {
  font-size: 26px;
  padding: 0 30px;
  height: 100%;
}

.rowThree
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  > div:last-child {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.rowThree
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  > div:last-child
  > span {
  padding: 3px;
}

.rowThree
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  > div:last-child
  > span:first-child {
  border-bottom: 1px solid #101010;
}

.rowThree > div:nth-child(2) > div:first-child > div:nth-child(2) {
  display: flex;
  align-items: center;
  padding: 3px;
  font-size: 14px;
  text-align: justify;
  border-right: 1px solid #101010;
}

.rowThree > div:nth-child(2) > div:first-child > div:nth-child(3) {
  border-right: 1px solid #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  height: 112px;
}

.rowThree > div:nth-child(2) > div:first-child > div:nth-child(4) {
  border-right: 1px solid #101010;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.rowThree > div:nth-child(2) > div:first-child > div:nth-child(4) > span {
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.rowThree
  > div:nth-child(2)
  > div:first-child
  > div:nth-child(4)
  > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowThree > div:nth-child(2) > div:first-child > div:nth-child(5) {
  display: flex;
  flex-direction: column;
}

.rowThree > div:nth-child(2) > div:first-child > div:nth-child(5) > span {
  flex: 1;
}

.rowThree
  > div:nth-child(2)
  > div:first-child
  > div:nth-child(5)
  > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.offsetRight5 {
  padding-right: 50px !important;
}

.rowThree > div:nth-child(2) > div:not(:first-child) {
  flex: 1;
  padding: 3px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.rowThree > div:nth-child(2) > div:not(:first-child, :nth-child(2)) {
  border-top: 1px solid #101010;
}

.rowFour {
  display: grid;
  grid-template-columns: 40px 1fr 30px 173px;
}

.rowFour > div:first-child {
  position: relative;
  width: 40px;
  height: 338px;
  border-right: 1px solid #101010;
}

.rowFour > div:first-child > span {
  position: absolute;
  transform: rotate(-90deg);
  white-space: nowrap;
  top: 155px;
  left: -78px;
}

.rowFour > div:last-child {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #101010;
}

.rowFour > div:last-child > span {
  flex: 1;
}

.rowFour > div:last-child > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowFour > div:nth-child(3) {
  border-left: 1px solid #101010;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.rowFour > div:nth-child(3) > span {
  flex: 1;
  padding: 3px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowFour > div:nth-child(3) > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowFour > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.rowFour > div:nth-child(2) > span {
  flex: 1;
  font-size: 14px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
}

.rowFour > div:nth-child(2) > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.bgGrey {
  background: #ccc !important;
}

.rowFour > div:nth-child(2) > span:nth-child(11) {
  display: grid;
  grid-template-columns: 1fr 3fr 30px 172px 20px;
  padding: 0;
}

.rowFour > div:nth-child(2) > span:nth-child(11) > span:first-child {
  display: flex;
  align-items: center;
  border-right: 1px solid #101010;
  padding: 3px;
}

.rowFour > div:nth-child(2) > span:nth-child(11) > span:first-child > span {
  font-size: 22px;
  font-weight: bold;
  padding: 0 20px;
}

.rowFour > div:nth-child(2) > span:nth-child(11) > span:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.rowFour > div:nth-child(2) > span:nth-child(11) > span:nth-child(2) > span {
  padding: 3px;
}

.rowFour
  > div:nth-child(2)
  > span:nth-child(11)
  > span:nth-child(2)
  > span:first-child {
  border-bottom: 1px solid #101010;
}

.rowFour > div:nth-child(2) > span:nth-child(11) > span:nth-child(3) {
  display: flex;
  border-left: 1px solid #101010;
  flex-direction: column;
}

.rowFour > div:nth-child(2) > span:nth-child(11) > span:nth-child(3) > span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.rowFour
  > div:nth-child(2)
  > span:nth-child(11)
  > span:nth-child(3)
  > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowFour > div:nth-child(2) > span:nth-child(11) > span:nth-child(4) {
  border-left: 1px solid #101010;
  border-right: 1px solid #101010;
  display: flex;
  flex-direction: column;
}

.rowFour > div:nth-child(2) > span:nth-child(11) > span:nth-child(4) > span {
  flex: 1;
}

.rowFour
  > div:nth-child(2)
  > span:nth-child(11)
  > span:nth-child(4)
  > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowFour > div:nth-child(2) > span:nth-child(11) > span:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
}

.rowFour > div:nth-child(2) > span:nth-child(6) {
  display: grid;
  grid-template-columns: 1fr 1fr 30px 172px 20px;
  padding: 0;
}

.rowFour > div:nth-child(2) > span:nth-child(6) > span {
  padding: 3px;
}

.rowFour > div:nth-child(2) > span:nth-child(6) > span:nth-child(3) {
  border-left: 1px solid #101010;
  border-right: 1px solid #101010;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowFour > div:nth-child(2) > span:nth-child(6) > span:nth-child(5) {
  border-left: 1px solid #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

.rowFive {
  display: grid;
  grid-template-columns: 1fr 31px 172px;
  border-top: 1px solid #101010;
  font-size: 14px !important;
}

.rowFive > span {
  display: flex;
  align-items: center;
  padding: 3px;
}

.rowFive > span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #101010;
  border-right: 1px solid #101010;
  padding: 3px;
}

.rowSix {
  display: grid;
  grid-template-columns: 2fr 30px 1fr 1.5fr 2fr 30px 172px;
  border-top: 1px solid #101010;
  font-size: 14px;
}

.rowSix > span {
  display: flex;
  align-items: center;
  padding: 3px;
}

.rowSix > span:nth-child(2) {
  border-left: 1px solid #101010;
  border-right: 1px solid #101010;
}

.rowSix > span:nth-child(4) {
  border-left: 1px solid #101010;
  border-right: 1px solid #101010;
}

.rowSix > span:nth-child(6) {
  border-left: 1px solid #101010;
  border-right: 1px solid #101010;
}

.borderNone {
  border-left: none !important;
  border-right: none !important;
}

.rowSeven {
  display: grid;
  grid-template-columns: 2fr 3fr 30px 172px 20px 30px 172px;
  border-top: 1px solid #101010;
}

.rowSeven > span:first-child {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 3px;
}

.rowSeven > span:first-child > span {
  font-size: 25px;
  font-weight: bold;
  padding: 0 20px;
}

.rowSeven > span:nth-child(2) {
  border-left: 1px solid #101010;
  border-right: 1px solid #101010;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rowSeven > span:nth-child(2) > span {
  padding: 3px;
  font-size: 14px;
}

.rowSeven > span:nth-child(2) > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowSeven > span:nth-child(3) {
  display: flex;
  flex-direction: column;
}

.rowSeven > span:nth-child(3) > span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #101010;
}

.rowSeven > span:nth-child(3) > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowSeven > span:nth-child(5) {
  border-left: 1px solid #101010;
  border-right: 1px solid #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
}

.rowSeven > span:nth-child(6) {
  display: flex;
  flex-direction: column;
}

.rowSeven > span:nth-child(6) > span {
  flex: 1;
}

.rowSeven > span:nth-child(6) > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}

.rowSeven > span:nth-child(7) {
  border-left: 1px solid #101010;
  display: flex;
  flex-direction: column;
}

.rowSeven > span:nth-child(7) > span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowSeven > span:nth-child(7) > span:not(:last-child) {
  border-bottom: 1px solid #101010;
}
